<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zlyy.mapper.IndicatorMapper">

    <cache readOnly="true" flushInterval="60000" size="10" eviction="LRU" />
    
    <!--  这段代码里，openId是Unique键。  -->
    <insert id="saveIndicator">
        insert into tb_indicator values (open_id, wx_union_id, biochemical_indicators_str)
        values (#{openId}, #{wxUnionId}, #{biochemicalIndicatorsStr})
        on duplicate key value 
        wx_union_id = #{wxUnionId},
        biochemical_indicators_str = #{biochemicalIndicatorsStr}
    </insert>
</mapper>