<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zlyy.mapper.PatientMapper">

    <cache readOnly="true" flushInterval="60000" size="10" eviction="LRU" />

    <insert id="insert" parameterType="com.example.zlyy.pojo.Patient">
        INSERT INTO 
            tb_patient (`name`, sex, phone_number, birth_year, nation, height, weight, blood_type, address, id_card, stm_poss, `time`)
        VALUES 
            (#{name}, #{sex}, #{phoneNumber}, #{birthYear}, #{nation}, #{height}, #{weight}, #{bloodType}, #{address}, #{idCard}, #{stmPoss}, #{time})
    </insert>
    
    
    <select id="selectAllPatients" resultType="java.util.Map">

        select
            a.`name`, a.sex, a.phone_number, a.birth_year, a.nation, a.height, a.weight, a.blood_type, a.address, a.id_card, a.stm_poss, a.`time`
        from 
            (
            select * from tb_patient where id in 
                                           (select max(id) from tb_patient group by `name`)
            ) a
        
    </select>
</mapper>