<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zlyy.mapper.PatientDTOMapper">

    <cache readOnly="true" flushInterval="60000" size="10" eviction="LRU" />

    <insert id="insert" parameterType="com.example.zlyy.dto.PatientDTO">
        INSERT INTO tb_patient (`name`, sex, birth_year, nation, height, weight, blood_type, address, id_card, stm_poss, `time`)
        VALUES (#{name}, #{sex}, #{birthYear}, #{nation}, #{height}, #{weight}, #{bloodType}, #{address}, #{idCard}, #{stmPoss}, #{time})
           

    </insert>
    <select id="selectAll" resultType="java.util.Map">
        SELECT
            `name`, sex, birth_year, nation, height, weight, blood_type, address, id_card, stm_poss, `time`
        FROM tb_patient
        ORDER BY `time` desc


    </select>
</mapper>